@import '../../variables.scss';

.container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.holder {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  height: 300px;
  width: 400px;
  color: white;
  background-color: $bg-200;
  border-radius: 10px;
}

.closeButtonHolder {
  display: flex;
}

.closeButton {
  color: white;
  text-decoration: none;
}
.closeButtonIcon {
  font-size: 20px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    font-weight: 600;
    color: $text-100;
    font-size: 30px;
  }

  &__group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__inputGroup {
    width: 100%;
    position: relative;
  }

  &__input {
    border-radius: 5px;
    border: none;
    width: 100%;
    padding-left: 5px;
    height: 40px;
  }

  &__buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__buttonHolder {
    background-color: $bg-100;
    border-radius: 5px;
  }

  &__button {
    border-radius: 5px;
    letter-spacing: 1px;
    transition: 0.3s all ease-in-out;
    background-color: $primary-100;
    padding: 10px;
    color: $text-100;

    &:hover {
      background-color: $primary-200;
    }

    &:disabled {
      opacity: 0.7;
    }
  }

  &__error {
    color: $error-100;
    font-size: 12px;
  }

  .form__input:not(:placeholder-shown) ~ .label,
  .form__input:focus ~ .label {
    .label__icon {
      display: flex;
    }
    pointer-events: unset;
    left: 0;
    top: -25px;
    font-size: 14px;
    transform: translateY(0);
    color: $text-100;
  }
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  pointer-events: none;
  transition: 0.3s all ease-in-out;
  position: absolute;
  user-select: none;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);

  &__title {
    font-weight: 500;
  }

  &__hint {
    display: none;
    background-color: $primary-100;
    position: absolute;
    top: 150%;
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
  }

  &__icon {
    display: none;

    &:hover {
      & ~ .label__hint {
        display: flex;
      }
    }
  }
}
