@import '../../variables.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.holder {
  border-radius: 10px;
  padding: 20px;
  @media (max-width: 500px) {
    padding: 10px;
  }
  display: flex;
  gap: 10px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  background-color: $bg-200;
}

.placeholder {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  max-width: 250px;
  @media (max-width: 500px) {
    width: 100%;
  }

  &__text {
    color: $text-100;
  }

  &__button {
    position: relative;
    text-decoration: none;
    color: $text-100;

    &::after {
      transition: 0.3s all ease-in-out;
      position: absolute;
      width: 0px;
      height: 2px;
      background-color: $text-100;
      content: '';
      left: 0;
      bottom: -5px;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.formHolder {
  @media (max-width: 500px) {
    width: 100%;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    font-weight: 600;
    color: $text-100;
    font-size: 30px;
  }

  &__label {
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s all ease-in-out;
    position: absolute;
    user-select: none;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__inputGroup {
    width: 100%;
    position: relative;
  }

  &__input {
    border-radius: 5px;
    border: none;
    width: 100%;
    padding-left: 5px;
    height: 40px;
  }

  &__buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__buttonHolder {
    background-color: $bg-100;
    border-radius: 5px;
  }

  &__button {
    border-radius: 5px;
    letter-spacing: 1px;
    transition: 0.3s all ease-in-out;
    background-color: $primary-100;
    padding: 10px;
    color: $text-100;
    transform: translate(-5px, -5px);

    &:hover {
      transform: translate(0, 0);
    }
  }

  &__error {
    color: $error-100;
    font-size: 12px;
  }

  .form__input:not(:placeholder-shown) ~ .form__label,
  .form__input:focus ~ .form__label {
    left: 0;
    top: -25px;
    font-size: 14px;
    transform: translateY(0);
    color: $text-100;
  }
}
