@import '../../variables.scss';

.placeholder {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.6);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: $c-400;
  border-radius: 10px;
}

.message {
  color: $c-700;
  font-weight: 500;
  font-size: 20px;
}

.buttonHolder {
  display: flex;
  flex-direction: column;
}

.buttonCancel {
  border: 2px solid black;
  border-top: none;
  border-radius: 0 0 5px 5px;
  letter-spacing: 1px;
  height: 40px;
  color: rgba($c-700, 0.7);
  padding: 10px;
  transition: 0.3s all ease-in-out;
  &:hover {
    color: $c-700;
    background-color: rgba($c-300, 0.3);
  }
}

.buttonApply {
  border: 2px solid black;
  height: 40px;
  border-radius: 5px 5px 0 0;
  letter-spacing: 1px;
  color: $c-700;
  padding: 10px;
  transition: 0.3s all ease-in-out;
  &:hover {
    background-color: rgb(192, 0, 13);
  }
}
