$primary-100: #2e86ab;
$primary-200: #67b6dd;
$primary-300: #d0ffff;
$accent-100: #f0a202;
$accent-200: #834800;
$text-100: #ffffff;
$text-200: #e0e0e0;
$bg-100: #0f1c3f;
$bg-200: #212b50;
$bg-300: #3b426a;
$error-100: rgb(255, 120, 120);
